@model PaginatedList<InventarioApp.Models.UserManagement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<div class="row">
    <div class="col-6 offset-6">
        <form asp-action="Index" method="get">
            <div class="input-group">
                @Html.DropDownList("SearchByString", ViewBag.Options, "Buscar por...", new {@class="form-select"})
                <input class="form-control" type="text" name="searchForString" placeholder="Buscar" value="@ViewData["searchForString"]" />
                <div class="input-group-append">
                    <input type="submit" value="Buscar" class="btn btn-outline-dark" id="inventorySearchButton" />
                    <a class="btn btn-danger btn-sm" asp-action="Index">Limpiar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PaginationBar" model="Model.GetPaginatedEntity()" />